<div class="container" id="containfido">
	<div class="col-md-2" id="fidoad1">
		<h3>Add Cool Ads</h3>
	</div>
	<div class="col-md-8" id="fidojumbo">
		<h1>FidoTakeTwo</h1>
		<p>Leo continue here!</p>
		<%= link_to "File Uploads", review_path, :class => "btn btn-large btn-warning" %>
	</div>
	<div class="col-md-2" id="fidoad2">
		<h3>More cool shit</h3>
	</div>
</div>
